<div class="detail-container">
  <img [src]="image" alt="{{ name }}" class="detail-image" />
  <div class="detail-info">
    <h2>{{ name }}</h2>
    <p class="detail-price">{{ price }}</p>
    <p class="detail-location">📍 Zipaquirá, Colombia</p>
    <p class="detail-description">
      Bienvenido a {{ name }}. Disfruta de una experiencia inolvidable con los mejores servicios, confort y atención.
    </p>

    <div class="amenities">
      <span>Café</span>
      <span>WiFi</span>
      <span>Parqueadero</span>
      <span>Restaurante</span>
    </div>
  </div>
</div>
