<div class="search-container">
  <input
    type="text"
    placeholder="Buscar restaurantes, hoteles..."
    [(ngModel)]="searchQuery"
    (keyup.enter)="searchPlace()"
  />
  <button class="action-btn" (click)="searchPlace()">Buscar</button>
</div>

<div id="map" class="map-container"></div>

<!-- Resultados -->
<div class="results-container" *ngIf="places.length > 0">
  <div class="place-card" *ngFor="let place of places">
    <div class="place-card-body">
      <img [src]="place.image" class="place-img" />

      <div class="place-details">
        <div class="place-top">
          <h4>{{ place.name }}</h4>
          <p>{{ place.address }}</p>
        </div>
        <div class="place-actions">
          <button class="fav-btn" (click)="toggleFavorite(place)">❤️</button>
          <button class="details-btn" (click)="goToDetail(place)">Ver más</button>
        </div>
      </div>
    </div>
  </div>
</div>


<app-bottom-nav></app-bottom-nav>
