/* map.component.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.search-container {
  position: absolute;
  z-index: 10;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  background: white;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 6px 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.search-container input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 16px;
  padding: 10px;
  border-radius: 12px;
}

.action-btn {
  background-color: #d7fc39;
  color: #000;
  padding: 8px 16px;
  border: none;
  border-radius: 12px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s;
}

.action-btn:hover {
  background-color: #c4ea2d;
}

.map-container {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.results-container {
  position: absolute;
  bottom: 70px;
  left: 0;
  right: 0;
  padding: 0 15px;
  z-index: 20;
  max-height: 40%;
  overflow-y: auto;
}

.place-card {
  background: #ffffff;
  border-radius: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
  padding: 10px;
  display: flex;
  transition: transform 0.2s;
}

.place-card-body {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.place-img {
  width: 150px;
  height: 100px;
  object-fit: cover;
  border-radius: 12px;
  background-color: #eee;
}

.place-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  height: 100%;
}

.place-top h4 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 4px;
}

.place-top p {
  font-size: 14px;
  color: #666;
}

.place-actions {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.fav-btn {
  background: #fce4ec;
  color: #d81b60;
  border: none;
  border-radius: 10px;
  padding: 8px 12px;
  font-size: 16px;
  cursor: pointer;
}

.details-btn {
  background-color: #d7fc39;
  color: rgb(0, 0, 0);
  border: none;
  padding: 8px 14px;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s;
}

.details-btn:hover {
  background-color: #d0ff00;
}
