<div class="search-container">
  <input
    type="text"
    placeholder="Buscar restaurantes, hoteles..."
    [(ngModel)]="searchQuery"
    (keyup.enter)="searchPlace()"
  />
  <button class="action-btn" (click)="searchPlace()">Buscar</button>
</div>

<!-- MAPA -->
<div id="map" class="map-container"></div>

<!-- CARDS SOBRE EL MAPA -->
<div class="results-container" *ngIf="places.length > 0">
  <div class="place-card" *ngFor="let place of places">
    <img [src]="place.image" class="place-img" />

    <div class="place-info">
      <h3>{{ place.name }}</h3>
      <p class="address">{{ place.address }}</p>
      <p class="price">$60,000 – $80,000</p>

      <button class="details-btn" (click)="goToDetail(place)">
        Ver Detalles
      </button>
    </div>
  </div>
</div>

<app-bottom-nav></app-bottom-nav>
