<div class="flex flex-col items-center justify-start min-h-screen p-5 bg-gradient-to-br from-gray-900 to-black text-white font-poppins">
  <h2 class="text-2xl font-bold mb-2 text-lime-300">Escanear imagen</h2>
  <p class="text-sm mb-4 text-gray-400">Apunta la cámara al frente.</p>

  <!-- Contenedor cámara -->
  <div class="w-80 h-96 border-2 border-dashed border-lime-300 rounded-2xl mb-6 bg-black/40 shadow-lg overflow-hidden relative">
    <video #cameraView autoplay playsinline class="w-full h-full object-cover"></video>
  </div>

  <!-- Botones -->
  <div class="flex gap-3 mb-6 w-full max-w-xs">
    <button class="flex-1 py-2 rounded-full font-semibold text-black bg-lime-300 hover:bg-lime-200 transition"
            (click)="startCamera()">
      {{ scanning ? 'Escaneando...' : 'Iniciar escaneo' }}
    </button>

    <button class="px-4 py-2 rounded-full font-semibold bg-gray-700 text-white hover:bg-gray-600 transition"
            (click)="swapCamera()">
      🔄 Cámara
    </button>
  </div>

  <!-- MODAL PERSONALIZADO -->
  <div *ngIf="showModal"
       class="fixed inset-0 bg-black/70 flex items-center justify-center z-50">

    <div class="bg-gray-900 rounded-2xl p-5 w-11/12 max-w-md shadow-xl">
      <h2 class="text-xl font-bold mb-3 text-white">{{ currentModel?.nombre }}</h2>

      <model-viewer
        src="{{ currentModel?.modelo3d }}"
        auto-rotate
        camera-controls
        class="w-full h-[350px] rounded-xl">
      </model-viewer>

      <p class="text-gray-300 mt-3">{{ currentModel?.descripcion }}</p>

      <button class="w-full mt-5 py-2 bg-red-600 text-white font-semibold rounded-full"
              (click)="closeModal()">
        Cerrar
      </button>
    </div>
  </div>

  <app-bottom-nav></app-bottom-nav>
</div>
