@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.scan-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  height: 100vh;
  background-color: #1e1e1e;
  color: #fff;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

h2 {
  font-size: 24px;
  margin-bottom: 8px;
}

p {
  font-size: 16px;
  margin-bottom: 20px;
  color: #ccc;
}

.scanner-frame {
  width: 300px;
  height: 350px;
  border: 3px dashed #d7fc39;
  border-radius: 16px;
  margin-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.03);
}

.scan-actions {
  display: flex;
  gap: 12px;
}

.scan-button, .swap-button {
  background-color: #d7fc39;
  color: #000;
  border: none;
  padding: 12px 28px;
  font-size: 16px;
  border-radius: 40px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  font-weight: bold;
}

.swap-button {
  background-color: #444;
  color: #fff;
}

.scan-button:hover {
  background-color: #e7ff65;
  transform: scale(1.05);
}

.swap-button:hover {
  background-color: #666;
  transform: scale(1.05);
}
