<div class="min-h-screen bg-gray-100 p-6">
  <!-- Título -->
  <h1 class="text-3xl font-bold text-gray-800 mb-6 text-center">
    Mis Favoritos
  </h1>

  <!-- Si no hay favoritos -->
  <div *ngIf="favoritos.length === 0" class="text-center text-gray-500 mt-12">
    <p class="text-lg">No tienes favoritos aún ❤️</p>
  </div>

  <!-- Grid de favoritos -->
  <div *ngIf="favoritos.length > 0" class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">
    <div
      *ngFor="let fav of favoritos"
      class="bg-white rounded-2xl shadow hover:shadow-lg transition cursor-pointer overflow-hidden"
      (click)="verDetalle(fav)"
    >
      <!-- Imagen -->
      <img 
      [src]="'http://localhost:4000' + (fav.hotel_imagen || fav.restaurante_imagen || fav.actividad_imagen)" 
      alt="{{ fav.hotel_nombre || fav.restaurante_nombre || fav.actividad_titulo }}" 
      class="h-48 w-full object-cover" 
    />
      <div class="p-4">
        <h2 class="text-lg font-semibold text-gray-800">
          {{ fav.hotel_nombre || fav.restaurante_nombre || fav.actividad_titulo }}
        </h2>
        <p class="text-sm text-gray-500 mt-1">
          {{ fav.hotel_direccion || fav.restaurante_direccion || fav.actividad_direccion }}
        </p>
      </div>
      </div>
    </div>
  </div>

<app-bottom-nav></app-bottom-nav>